body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 50px;
}

form {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccd;
  border-radius: 5px;
}
